services:
  app:
    image: sonrichs/content-products-api:latest
    container_name: content-products-api-app
    restart: always
    ports:
      - "8080:3000"
    depends_on:
      - db
  # Database service
  db:
    image: sonrichs/cp-api-postgres:latest
    container_name: content-products-api-db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  # pgAdmin service
  pgadmin:
    image: dpage/pgadmin4
    container_name: content-products-api-pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  db-data:
