name: Build and publish Docker image

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Create .env file
        run: |
          echo "DB_USER=${{ secrets.DB_USER }}" | base64 -d >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" | base64 -d  >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" | base64 -d  >> .env
          echo "CONTENTFUL_ACCESS_TOKEN=${{ secrets.CONTENTFUL_ACCESS_TOKEN }}" | base64 -d  >> .env

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: sonrichs/content-products-api:latest
