name: Test and lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run linting
        run: npm run lint

      - name: Run tests with coverage
        run: npm run test:cov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

      - name: Check test coverage threshold
        run: |
          COVERAGE=$(npm run test:cov:json | grep -o '"lines":{"total":[0-9]*,"covered":[0-9]*' | grep -o 'covered":[0-9]*' | cut -d: -f2)
          TOTAL=$(npm run test:cov:json | grep -o '"lines":{"total":[0-9]*,"covered":[0-9]*' | grep -o 'total":[0-9]*' | cut -d: -f2)
          PERCENTAGE=$((COVERAGE * 100 / TOTAL))
          echo "Coverage: $PERCENTAGE%"
          if [ $PERCENTAGE -lt 30 ]; then
            echo "Coverage is below 30%"
            exit 1
          fi
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Create .env file
        run: |
          echo "DB_USER=${{ secrets.DB_USER }}" | base64 -d >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" | base64 -d  >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" | base64 -d  >> .env
          echo "CONTENTFUL_ACCESS_TOKEN=${{ secrets.CONTENTFUL_ACCESS_TOKEN }}" | base64 -d  >> .env

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: sonrichs/content-products-api:latest
